.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
    }
    
    .preloader__row {
    position: relative;
    top: 50%;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    }
    
    
    .loaded_hiding .preloader {
    transition: 0.534s opacity;
    opacity: 1;
    }
    
    .loaded .preloader {
    display: none;
    }
    
.logo
{
    width:146px;
    height:52px;
} 
.text
{
font-family:metropolis-black;
}
.tyan
{
    width:600px;
    height:565px;
}
.un
{
    height:350px;
}
.fu
{
    font-size:large;
    font-weight:bold;
}
.un1
{
width:225px;
height:67px;
}
.un2
{
width:250px;
height:64px;
}
.un3
{
width:224px;
height:79px;
}
.un4
{
width:275px;
height:62px;
}
.dots
{
    width:107px;
    height:14px;
    margin-left:700px;
}
.os
{
    font-size:x-large;
    font-weight:bold;
}
.news1
{
    width:344px;
    height:224px;
}
#el1{
    width: 370px;
    height: 390px;
}
#el2{
    width: 370px;
    height: 390px;
}
#el3{
    width: 370px;
    height: 390px;
}
#el4{
    width: 370px;
    height: 390px;
}
#el5{
    width: 370px;
    height: 390px;
}

#lastsection{
    background-image: url(../Images/6.svg);
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
